<link rel="stylesheet" href="/stylesheets/profile.css">

<div class="container">
    <div class="userInfo">
        {{!-- <div><img src="" alt=""></div> --}}
        <h2>{{user.username}}</h2>
        <p>{{user.bio}}</p>
        <p><b>Reputation:</b> {{user.rp.length}}</p>
        <p><b>Age:</b> {{user.age}}</p>
        <p><b>Sex:</b> {{user.sex}}</p>
        <a href="/requests">See my Trip Requests</a>
        <a href="/auth/edit-user">Edit your profile</a>
        <a href="/auth/edit-password">Edit your password</a>
    </div>
    <div class="trips">
        <div class="title">
            <h2>Viajes Creados</h2>
            {{#if yourProfile}}
            <a href="/trips/create">Create Trip</a>
            {{/if}}
        </div>

        <div class="tripContainer">
            {{#each createdTrips}} 
                <article>
                    <h3><a href="/trips/{{_id}}">{{title}}</a></h3>
                    <p><i>Destination:</i> {{destination}}</p>
                    <p><i>Price:</i> {{price}}€</p>
                    <p><i>Dates:</i> {{startDate}} - {{endDate}}</p>
                    {{#if status}} 
                        <p class="red">Status: Unavalible</p>
                    {{else}}
                        <p class="green">Status: Avalible</p>
                    {{/if}}
                </article>
            {{/each}}
        </div>
    </div>
</div>