
<div>
<img src="" alt="">
<h1>Username:{{user.username}}</h1>
<h2>Name:{{user.name}}</h2>
<h2>Surname:{{user.surname}}</h2>
<h2>Age:{{user.age}}</h2>
<h2>Sex:{{user.sex}}</h2>
<h2>Biography:{{user.bio}}</h2>
<h2>Telephone:{{user.telephone}}</h2>
<h2>Reputation:{{user.rp.length}}</h2>


<a href="/auth/edit-user">Edit your profile</a>
<a href="/auth/edit-password">Edit your password</a>
</div>
<br><br>

<h2>Viajes Subscritos</h2>
{{#each resquestedTrips}}
    <a href="/trips/{{_id}}">{{destination}}</a>
{{/each}}

<h2>Viajes Creados</h2>
{{#each createdTrips}}
    {{title}} <br>
{{/each}}