<div><img src="{{user.profilePic}}" style="width: 100%"></div>
<h2>{{user.username}}</h2>
<p>{{user.bio}}</p>
<p><b>Reputation:</b> {{user.rp.length}}</p>
<p><b>Age:</b> {{user.age}}</p>
<p><b>Sex:</b> {{user.sex}}</p>
{{#if yourProfile}}
<a href="/auth/edit-user">Edit your profile</a> <br>
<a href="/auth/edit-password">Edit your password</a>
{{/if}}
{{#unless yourProfile}}
<a href="/profile/rp/{{user._id}}">Give him RP</a>
{{/unless}}