<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Account</title>
    <style>
        *{
            margin: 0; padding: 0; border: 0;
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif;
            line-height: 1.5;
        }

        .container{
            background-color: #2196F3;
            color: #ffffff;
            height: 500px;
            
            text-align: center;
            padding-top: 130px;
        }

        .container h1, .container h2{ font-weight: 300 }
        h1{font-size: 50px}
        h2{font-size: 26px}

        a{
            display: inline-block;
            padding: 10px 15px;
            border-radius: 3px;
            margin: 1em;
            text-transform: uppercase;
            font-weight: bold;
            background-color: #FFC107;
            color: #ffffff; text-decoration: none
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>CrazyTrips</h1>

        {{#unless tripID}}
        <h2>Hello {{user.username}}, thanks for Register!</h2>
        <p>Please click the following link for confirm your account.</p>
        <a href="https://crazytrips.herokuapp.com/auth/confirm/{{user._id}}" style="color: white">Confirm Account</a>
        {{else}}
        <h2>Hello {{user.username}},</h2>
        <p>Someone has joined your trip.</p>
        <p>Please click the following link for evaluete the request.</p>
        <a href="https://crazytrips.herokuapp.com/requests/eval/{{tripID}}" style="color: white">Evaluate Request</a>
        {{/unless}}
    </div>
</body>
</html>