<link rel="stylesheet" href="/stylesheets/profile.css">

<div class="container">
    <div class="userInfo">
        {{!-- <div><img src="" alt=""></div> --}}
        <h2>{{user.username}}</h2>
        <p>{{user.bio}}</p>
        <p><b>Reputation:</b> {{user.rp.length}}</p>
        <p><b>Age:</b> {{user.age}}</p>
        <p><b>Sex:</b> {{user.sex}}</p>
        {{#if yourProfile}}
        <a href="/requests">See my Trip Requests</a> <br>
        <a href="/auth/edit-user">Edit your profile</a> <br>
        <a href="/auth/edit-password">Edit your password</a>
        {{/if}}
        {{#unless yourProfile}}
        <a href="/profile/rp/{{user._id}}">Give him RP</a>
        {{/unless}}
    </div>
    <div class="trips">
        <div class="title">
            <h2>Requested Trips</h2>
            {{#if yourProfile}}
            <a href="/trips/create">Create Trip</a>
            {{/if}}
        </div>

        <div class="tripContainer">
            {{#each arrayRequest}}
            <article>
                {{#if ../acceptedRequests}}
                    <h3><a href="/profile/{{user.username}}">{{user.username}}</a></h3>
                    <p>
                        <a href="/requests/accept/{{user._id}}/{{trip._id}}" class="green">Accept</a>
                        -
                        <a href="/requests/decline/{{user._id}}/{{trip._id}}" class="red">Decline</a>
                    </p>
                {{else}}
                    <h3><a href="/trips/{{trip._id}}">{{trip.title}}</a></h3> 
                    <p class="green">Status: {{status}}</p>
                {{/if}}
            </article>
            {{/each}}
        </div>
    </div>
</div>