<link rel="stylesheet" href="/stylesheets/profile.css">

<div class="container">
    <div class="userInfo">
        <h2>Filters</h2>
        <input type="text" placeholder="destination">
        <input type="text" placeholder="max-price">
        <input type="text" placeholder="max-travelers">
    </div>
    <div class="trips">
        <div class="title">
            <h2>All Trips</h2>
            <a href="/trips/create">Create Trip</a>
        </div>

        <div class="tripContainer">
            {{#each trips}}
                <article>
                    <h3><a href="/trips/{{_id}}">{{title}}</a></h3>
                    <p><i>Destination:</i> {{destination}}</p>
                    <p><i>Price:</i> {{price}}€</p>
                    <p><i>Max Travelers:</i> {{maxTravelers}}</p>
                    <p><i>Dates:</i> {{startDate}} - {{endDate}}</p>
                    {{#if status}} 
                        <p class="red">Status: Unavalible</p>
                    {{else}}
                        <p class="green">Status: Avalible</p>
                    {{/if}}
                </article>
            {{/each}}
        </div>
    </div>
</div>