<link rel="stylesheet" href="/stylesheets/profile.css">
<link rel="stylesheet" href="/stylesheets/froala/froala_style.min.css">

<div class="container">
    <div class="userInfo">
        <h2>{{trip.title}}</h2>
        <p><b>Destination:</b> <a href="/trips/info/{{trip.destination}}">See Destination Info</a></h3>
        <p><b>Price:</b> {{trip.price}}</h3>
        <p><b>Status:</b> {{trip.status}}</h3>
        <p><b>Start Date:</b> {{trip.startDate}}</h3>
        <p><b>End Date:</b> {{trip.endDate}}</h3>
        <p><b>Creator:</b> <a href="/profile/{{trip.creator.username}}">{{trip.creator.username}}</a></p>
        <p><a href="/trips/travelers/{{trip._id}}">See travelers</a></p>

        {{#if canRequest}}
            <a href="/requests/new/{{trip._id}}">Join travel</a>
        {{else}}
            <p><b>You have already joined!</b></p>
        {{/if}}
    </div>
    <div class="trips">
        {{#if requests}}
            <div class="title">
                <h2>Travelers</h2>
            </div>
            <div class="tripContainer">
                {{#each requests}}
                <article>
                    <h3><a href="/profile/{{user.username}}">{{user.username}}</a></h3>
                    <p><i>Reputation:</i> {{user.rp.length}}</p>
                    <p><i>Age:</i> {{user.age}}</p>
                    <p><i>Sex:</i> {{user.sex}}</p>
                </article>
                {{/each}}
            </div>
        {{else}}
            {{{trip.description}}}
        {{/if}}
    </div>
</div>