


<h2>Title:{{trip.title}}</h2>
<h3>Destination:{{trip.destination}}</h3>
<h3>Price:{{trip.price}}</h3>
<h3>Description:{{trip.description}}</h3>
<h3>Status:{{trip.status}}</h3>
<h3>Start Date:{{trip.startDate}}</h3>
<h3>End Date:{{trip.endDate}}</h3>
<h3>Creator:{{trip.creator.username}}</h3>
